In [79]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import pandas as pd


df = pd.DataFrame(columns=["Enderecos", "Bairros"])
df.iloc[0:0]

Empty DataFrame
Columns: [Enderecos, Bairros]
Index: []

In [82]:
bairro = "centro"
cidade = "niteroi"
estado = "rj"
url = "https://paginaamarela.com.br/bairro/"+ bairro +"/"+cidade+"/"+estado+"#enderecos"
r = requests.get(url)
c = r.content
soup = BeautifulSoup(c, "html.parser")

underline = soup.find_all('a', {'class':'underline'})

address = []
for line in underline:
    if "cep" in line.text.lower():
        pass
    else:
        address.append(line.text)

cidade = address[0]
address = address[1:-4]   
bairros = len(address)*[bairro.capitalize()]
cidades = len(address)*[cidade]
estados = len(address)*[estado.upper()]

data = {'Enderecos': address,
        'Bairros': bairros,
        'Cidades': cidades,
        'Estados': estados
        }

df2 = pd.DataFrame(data)
df.append(df2)
address.clear()
bairros.clear()

In [83]:
df = df.append(df2, ignore_index=True)
df

                    Enderecos Bairros      Cidades Estados
0             Travessa Albano  Centro  São Gonçalo      RJ
1        Rua Alberto Marrocos  Centro  São Gonçalo      RJ
2           Rua Aluísio Neiva  Centro  São Gonçalo      RJ
3             Travessa Anadir  Centro  São Gonçalo      RJ
4       Travessa Aníbal Muniz  Centro  São Gonçalo      RJ
..                        ...     ...          ...     ...
273   Rua Visconde do Uruguai  Centro      Niterói      RJ
274   Rua Visconde do Uruguai  Centro      Niterói      RJ
275   Avenida Washington Luís  Centro      Niterói      RJ
276       Rua Xavier de Brito  Centro      Niterói      RJ
277  Praça Zilda Arns Neumann  Centro      Niterói      RJ

[278 rows x 4 columns]

                         Enderecos  Bairros
0       Rua Abílio José dos Santos  Arsenal
1    Rua Albertina Gonçalves Dacal  Arsenal
2         Rua Alcebíades Caldeiras  Arsenal
3     Rua Alcides Joaquim da Silva  Arsenal
4           Rua Altamir de Almeida  Arsenal
..                             ...      ...
254        Rua Vinte e Um de Abril  Tribobo
255    Rua Vinte e Um de Fevereiro  Tribobo
256       Rua Visconde de Santarém  Tribobo
257       Rua Visconde de Santarém  Tribobo
258               Rua Wilson Ramos  Tribobo

[259 rows x 2 columns]

In [4]:
url

'https://paginaamarela.com.br/bairro/tribobo/sao-goncalo/rj#enderecos'

In [ ]:
df.to_csv('addresses.csv')